{% extends "base.html" %}
{% block content %}
</br>
<div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width:200px; height:200px;">
      </div>
    </div>
<h2 class="account-heading">{{ user.username }}</h2>
<p class="text-secondary">{{ user.email }}</p>

<form method="post"  enctype="multipart/form-data">
{% csrf_token %}
{{ u_form.as_p }}
{{ p_form.as_p }}

<button  class=" btn btn-primary" type="submit" value="register">Update</button>
</form>

{% endblock %}
