{% extends "base.html" %}
<head>
  {% include 'snippets/css.html' %}
{% block head_title %}{{user.username}} | {{block.super}}{% endblock head_title %}
</head>
{% block content %}
<h4>{{user.username}}</h4>
<form class = 'form' method='GET' action='.'>
<input type="text" name="q" placeholder="Search..." value='{{ request.GET.q }}'>
<button class='btn btn-success' type="submit">Search</button>
</form>
<h5>{{object.name}}</h5>
</hr>

{% if anime %}
{% for anim in anime %}
<div class='row'>
  <div class='col-sm-12'>
      <div class='card card-default'>

          <h4>{{anim.title}}</h4>
          <p><a href='{{ request.path }}?q={{ anim.genre }}'>{{ anim.genre }}</a></p>
          <p><a href='{{ request.path }}?q={{ anim.review }}'>{{ anim.review }}</a> </p>
          <ul>
          {% for item in anim.item_set.all %}
            <li style='margin-bottom: 15px;'><b> {{ item.name }} : </b>
                {% for epi in item.get_contents %}
                <span style='padding: 2px 4px; margin-right:4px;'> {{ epi }} </span>
                {% endfor %}
           </li>
          {% endfor %}

        </ul>
      </div>
    </div>
</div> <!--ROW CLOSED-->
</hr>

{% endfor %}

{% else %}
<p class='lead'> No Episodes Entered </p>

{% endif %}
{% endblock %}
