{% extends "base.html" %}
<head>
  {% include 'snippets/css.html' %}
{% block head_title %}Episodes | {{block.super}}{% endblock head_title %}
</head>
{% block content %}
<h4>Episode List</h4>
<form>
  <a  class="btn btn-dark btn-md active" role="button" aria-pressed="true"  href='/items/create/'>Add Episode</a>
</form>
</br>
<div class="card bg-light mb-3" style="max-width: 58rem;">
<ul>
  {% for item in object_list %}
    <li class="list-group-item"><b><a href="{{ item.get_absolute_url }}">{{item.anime.name}}</a></b><br>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
