{% extends "base.html" %}
<head>
  {% include 'snippets/css.html' %}
{% block head_title %}Episodes | {{block.super}}{% endblock head_title %}
</head>
{% block content %}
<h4>{{object.anime.name}}</h4>
<form>
  <a class="btn btn-dark btn-md active" role="button" aria-pressed="true" href='/items/{{object.pk}}/update/'>Update Episode</a>
</form>
</br>
<div class="card bg-light mb-3" style="max-width: 28rem;">
<h5>{{object.name}}</h5>

{% for item in object.get_contents %}
{{ item }}
{% endfor %}
</div>
{% endblock %}
