<div class="container">
  <nav style="font-family: Montserrat, sans-serif; background-color: #1C488D;"class="navbar navbar-expand-xl navbar-dark topnav" >
    <a class="navbar-brand" href="#" style="font-weight:bold;"> Anime Blog</a>
          <ul class="navbar-nav">

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>

              <li class="nav-item">
                  <a  class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>

              {% if request.user.is_authenticated %}
              <li class="nav-item">
                  <a  class="nav-link" href="{% url 'animes:list' %}">Anime List</a>
              </li>
              {% endif %}

              {% if request.user.is_authenticated %}
              <li class="nav-item">
                  <a  class="nav-link" href="{% url 'episodes:list' %}">Episode List</a>
              </li>
              {% endif %}

              <div class="topnav-right">
              {% if request.user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a  class="nav-link" class="nav-link dropdown-toggle navbar-brand" style="font-weight:bold; font-size:16px;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.username}}
                  </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                  <a  class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </div>
                </li>
             </div>

              {% endif %}
              {% if not request.user.is_authenticated %}
              <li class="nav-item dropdown">
                  <a  class="nav-link" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Register
                </a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                <a  class="nav-link" href="{% url 'login' %}">Log In</a>
                <a  class="nav-link" href="{% url 'register' %}">Register</a>
              </div>
            </li>
            {% endif %}
          </ul>


  </nav>  <!-- Navbar Closed-->
</div>   <!-- Container Closed-->
