{% extends "base.html" %}
<head>
  {% include 'snippets/css.html' %}
{% block head_title %}Anime | {{block.super}}{% endblock head_title %}
</head>
{% block content %}
</br>
<h4>Anime List</h4>
<form>
  <a class="btn btn-dark btn-md active" role="button" aria-pressed="true" href='/animes/create/'>Add Anime</a> <p>
</form>
<div class="card bg-light mb-3" style="max-width: 58rem;">
<ul>
  {% for item in object_list %}
    <li class="list-group-item"><b><a href="{{ item.get_absolute_url }}">{{item}}</a></b><br>
      {{ item.name }},  {{ item.genre }}  ,{{ item.review }}, {{ item.timestamp }} ,{{ item.updated }}</li>
  {% endfor %}
</ul>
</div>
{% endblock %}
